[data-md-color-scheme="lunarviews"] {
    --md-primary-fg-color:        #0b5b85;
    --md-primary-fg-color--light: #1a91b2da;
    --md-primary-fg-color--dark:  #0c1e39be;
  }

[data-md-color-scheme="slate"] {
  --md-hue: 210; 
  }